<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/quizerCSS.css">
</head>
<body>
  <div id="wrapper" class="
  flex flex-col items-center h-screen justify-center space-y-10
  w-5/6 m-auto md:w-4/6 h-[1000px] space-y-10
  ">   
    <h1 class="
    text-3xl uppercase underline font-bold line tracking-wider
    ">Add questions / Subject Page</h1>    
    
    <div class="flex flex-col items-center justify-center text-2xl space-y-5" >
      <input id="addSubject" type="text" class="w-full bg-gray-200 border-2 border-gray-500">
      <input id="addSubjectReq" type="button" value="Add Subject" class="
          bg-blue-200 p-3 border-blue-400 border-2 rounded-md
          transform hover:scale-110 hover:ease-in w-min  
        ">
    </div>
    
    <form name="addTest" id="addTest" autocomplete="off" class="
    flex flex-col items-center space-y-5 text-2xl
    "> 
        <label for="tests" class="
        text-3xl
        ">Choose a test to add questions:</label>
        <select id="tests" name="tests" size="5" class="
        border-4
        ">
          <!-- <option value="tailwindCSS" selected>TailwindCSS</option>
          <option value="jsDoc">JS Doc</option>
          <option value="replitShortcuts">Replit Shortcuts</option>
          <option value="gitCLI">Git CLI</option>
          <option value="npmCommands">NPM Commands</option> -->
        </select>
        <label for="question">Question:</label>
        <textarea class="w-full bg-gray-200 border-2 border-gray-500 h-32" id="question" name="question"></textarea>
        <label for="answer">Answer:</label>
        <input type="text" class="w-full bg-gray-200 border-2 border-gray-500" name="answer" id="answer">
        <input type="submit" value="Add" id="newQuestion" class="
          bg-blue-200 p-3 border-blue-400 border-2 rounded-md
          transform hover:scale-110 hover:ease-in w-min  
        ">
    </form>
  </div> 

  <!-- Modal for status update -->
  <div id="modal" class="w-screen h-screen
  flex flex-col justify-center items-center z-10 hidden
  ">
      <div class="bg-gray-300/80 p-2 rounded border-black border-2">
          <h1 id="status" class="text-4xl ">TEST PHRASE</h1>
      </div>
  </div>   
  
</body>
<script src="/add.js"></script>
</html>