<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/quizerCSS.css">
</head>
<body>
<div id="appWrapper" class="flex flex-row">
    <div id="homeWrapper" class="w-2/6
    border-4 border-solid rounded-md border-gray-800
    bg-gray-200
    ">
      <div id="selectTest" class="
      flex flex-col items-center h-screen justify-center space-y-10
      w-5/6 m-auto md:w-4/6
      ">
    
     
          <form name="testOptions" id="testOptions" class="
            flex flex-col items-center space-y-5 text-2xl
          ">
              <label for="subject" class="
              text-3xl text-center
              ">Choose a subject and press Start:</label>
              <select id="subject" name="subject" size="5" class="
              border-4 border-
              ">
                <option value="tailwindCSS" selected>TailwindCSS</option>
                <option value="jsDoc">JS Doc</option>
                <option value="replitShortcuts">Replit Shortcuts</option>
                <option value="gitCLI">Git CLI</option>
              </select>
              <input type="submit" class="
              bg-blue-200 p-3 border-blue-400 border-2 rounded-md
              transform hover:scale-110 hover:ease-in
              " 
              value="Start">
          </form>
      </div>     
    </div>
    <div id="testWrapper" class="w-4/6
    border-4 border-solid rounded-md border-gray-800
    ">
      <div id="testPage" class="
      flex flex-col items-center h-screen justify-center space-y-10
      w-5/6 m-auto md:w-4/6 hidden
      ">
          <p id="question" class="
          text-3xl
          ">Question will display here.</p>
          <input type=text id="answer" class="
          text-2xl 
          active:border-black active:border-2 
          rounded-lg text-center w-96
          " placeholder="Place your answer here">
          <input id="answerWrong" readonly value="Display correct answer here if the answer is wrong" class="
          text-2xl 
          active:border-black active:border-2 
          rounded-lg text-center w-96
          bg-red-300 border-2 border-red-700 text-white text-red-900
          font-bold hidden
          ">
            
          <button id="submitAnswer" type="button" class="
            bg-blue-200 p-3 border-blue-400 border-2 rounded-md text-xl
            transform hover:scale-110 hover:ease-in
          ">Submit</button>
          <button id="nextQuestion" type="button" class="
            bg-blue-200 p-3 border-blue-400 border-2 rounded-md text-xl
            transform hover:scale-110 hover:ease-in hidden
          ">Next</button>
          
      </div> 
      <!--Modal to show after finishing the test.-->
      <div id="modal" class="
      bg-gray-300 h-screen w-full flex flex-col justify-center
      items-center bg-opacity-70 hidden
      ">
          <div class="
              bg-white w-80 h-80 border-2 border-gray-500 rounded-lg
          ">
              <p id="message" class="
              h-3/6 text-xl text-center    
              ">Test finished. Here are the results.</p>
              <p id="results" class="
              h-1/6 text-xl text-center
              ">display results here</p>
              <div class="
              flex flex-row justify-around h-2/6 items-center
              ">
                  <button type="button"" id="restart" class="
                  bg-blue-200 p-3 border-blue-400 border-2 rounded-md text-xl transform hover:scale-110 hover:ease-in 
                  w-2/5 uppercase h-14
                  ">restart</button>
                  <button type="button" id="newTest" class="
                  bg-blue-200 p-3 border-blue-400 border-2 rounded-md text-xl transform hover:scale-110 hover:ease-in
                  w-2/5 uppercase h-14
                  ">new test</button>
              </div>
          </div>
      </div>     
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<script src="/home.js"></script>
</html>